*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

/* header --------------------------*/
header{
    margin: 10px 20px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
    
}
header h2{
    padding: 0 10px;
}
nav{
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
}
.nav-links li{
    display: inline-block;
}
.nav-links li a{
    color: #000;
    padding: 8px 20px;
    border-left: 1px solid #333;
}
.nav-links li a:hover{
    background-color: #333;
    color: #fff;
    transition: 0.2s;
}

main{
    padding: 0em 1em;
}

/* .gallery --------------------------*/
.gallery{
    columns: 3;
    column-gap: 16px;
    margin-bottom: 24px;
}
.gallery .box{
    width: 100%;
}
.gallery .box img{
    width: 100%;
    margin-bottom: 12px;
}

/* .pencil ----------*/
.pencil{
    background-image: url(photoshop/pencil.png);
    width: 100%;
    height: 120px;
    background-size: 400px;

}

/* footer ---------------------*/
footer{
    width: 100%;
    height: 80px;
    background-color: #333;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}
footer p{
    
}
.nav-unshown {
    display:none;
  }

/* @media ------------------------*/

@media(max-width:768px){
    .gallery{
        columns: 2;
    }
}
@media(max-width:480px){
    .gallery{
        columns: 1;
    }
}
@media(max-width:768px){

    .nav-links{
        padding: 40px 0px 0px 20px;
        display: list-item;
    }

    .nav-links li{
        display: block;
        margin-bottom: 20px;
        
    }
    .nav-links li a{
        font-size: 160%;
        border-bottom: 1px solid #000;
    }
    #nav-drawer {
        position: relative;
    }      
      /*アイコンのスペース*/
    #nav-open {
          display: inline-block;
          width: 30px;
          height: 22px;
          vertical-align: middle;
    }
      
      /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        background: #555;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
          bottom: -8px;
      }
      #nav-open span:after {
          bottom: -16px;
      }
      
      /*閉じる用の薄黒カバー*/
      #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      
      /*中身*/
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;/*最前面に*/
        width: 90%;/*右側に隙間を作る*/
        max-width: 330px;/*最大幅*/
        height: 100%;
        background: #fff;/*背景色*/
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
      }
      
      /*チェックが入ったらもろもろ表示*/
      #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
      }
      
      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
      
      /* @media screen and (min-width:480px) {
      #nav-open {
        display:none;
      }
    } */
    
}